[packages]
fzf
git
lf
neovim
openssh
tmux
zsh

[git]
https://github.com/keseljevicjovan/init.lua                   .config/nvim
https://github.com/tmux-plugins/tpm                           .local/share/tmux/plugins/tpm
https://github.com/sindresorhus/pure                          .local/share/zsh/themes/pure
https://github.com/zdharma-continuum/fast-syntax-highlighting .local/share/zsh/plugins/fast-syntax-highlighting
https://github.com/zsh-users/zsh-autosuggestions              .local/share/zsh/plugins/zsh-autosuggestions

[dirs]
.cache/tmux
.cache/zsh
.local/share/zsh/plugins
.local/share/zsh/themes
pictures/screenshots

[symlinks]
.config/zsh/zprofile .zprofile
.config/zsh/zshrc    .zshrc
.local/bin           .local/bin

[shell]
/bin/zsh
