[packages]
brightnessctl
ffmpegthumbnailer
firefox
firefox-tridactyl
foot
fzf
git
gnome-themes-extra
imagemagick
lf
libnotify
mpv
neovim
newsboat
openssh
pacman-contrib
pipewire-pulse
playerctl
pulsemixer
tllist
tmux
ttf-jetbrains-mono-nerd
wayland
wayland-protocols
wlroots0.19
zathura
zathura-pdf-poppler
zsh
ueberzugpp
swaybg
swayimg
grim
mako
libnotify
slurp
pass

[git]
https://github.com/keseljevicjovan/init.lua                   .config/nvim
https://github.com/keseljevicjovan/suckless                   .config/suckless
https://github.com/sindresorhus/pure                          .local/share/zsh/themes/pure
https://github.com/tmux-plugins/tpm                           .local/share/tmux/plugins/tpm
https://github.com/zdharma-continuum/fast-syntax-highlighting .local/share/zsh/plugins/fast-syntax-highlighting
https://github.com/zsh-users/zsh-autosuggestions              .local/share/zsh/plugins/zsh-autosuggestions

[dirs]
.cache/newsboat
.cache/tmux
.cache/zsh
.local/bin
.local/share/zsh/plugins
.local/share/zsh/themes
pictures/screenshots

[symlinks]
config/common/zsh/zprofile .zprofile
config/common/zsh/zshrc    .zshrc
local/bin/scripts          .local/bin/scripts
local/bin/statusbar        .local/bin/statusbar

[shell]
/bin/zsh

[session]
wayland

[firefox]
config/browser
